<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1571085812134-9aece96f1138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1>Cocktails</h1>
    <p>Cockails for cocktail addicts</p>
  </div>
</div>

<h2> all cocktails</h2>


<div class="card-container">
  <% @cocktails.each do |cocktail| %>
    <div class="card bg-dark text-white">
      <img src="https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title"> <%= cocktail.name %> </h5>
        <p class="card-text">
          With
          <% cocktail.doses.each do |dose|  %>
            <%= dose.ingredient.name %>
          <% end %>
        </p>
        <p class="card-text">test</p>
        <%= link_to 'more info', cocktail %>
      </div>
    </div>
  <% end %>
</div>





